# This file contains default keys for the LangQuest application.
# These are used for encrypting and decrypting sensitive data, such as user progress and attestation information.
#
# Copy this file and rename it .env while modifying the values.
# They will be embedded into the binary through the build.rs script.
#
# It is recommended to use 32-byte-long keys here, as longer/shorter keys are folded into a 32-byte-long UTF-8 string
# consisting of a hex value which results in loosing some entropy.

# Key for the students progress file
PROGRESS_KEY=lq-progress-key-v1-do-not-share!
# Key for local attestation cache for offline work
ATTEST_KEY=lq-attestation-key-v1-keep-safe!
# Key for solution encryption
SOLUTION_KEY=lq-solution-key-v1-classroom-ok!
